<div class="container">
    <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>Jose 1</mat-card-title>
          <mat-card-subtitle>Helene et Les Garcon</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="http://img5.allocine.fr/acmedia/medias/nmedia/18/83/23/67/19672383.jpg" alt="Photo of a Shiba Inu">
        <mat-card-content>
          <p>
            Acteur Helene et Les Garcons
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button>LIKE</button>
          <button mat-button>SHARE</button>
        </mat-card-actions>
      </mat-card>
    <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>Jose2</mat-card-title>
          <mat-card-subtitle>         Acteur Helene et Les Garcons</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="https://voi.img.pmdstatic.net/scale/https.3A.2F.2Fi.2Epmdstatic.2Enet.2Fvoi.2F2022.2F12.2F06.2F64cbdc85-d1d2-41d3-9281-dcc6dd828e36.2Epng/autox600/quality/65/philippe-vasseur-gagnait-entre-2-500-a-3-000-euros-par-episode-lorsqu-il-jouait-jose-dans-helene-et-les-garcons-il-avait-a-cette-epoque-26-ans.jpg" alt="jose1">
        <mat-card-content>
          <p>
            Acteur Helene et Les Garcons
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button>LIKE</button>
          <button mat-button>SHARE</button>
        </mat-card-actions>
      </mat-card>
    <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>Jose3</mat-card-title>
          <mat-card-subtitle>         Acteur Helene et Les Garcons</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="https://www.amiens.fr/var/ez_website/storage/images/media/images/jda/jda-2020/jda-949/l-amiens-de-philippe-vasseur/525939-1-fre-FR/L-Amiens-de-Philippe-Vasseur_format_610x450.jpg" alt="jose1">
        <mat-card-content>
          <p>
            Acteur Helene et Les Garcons
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button>LIKE</button>
          <button mat-button>SHARE</button>
        </mat-card-actions>
      </mat-card>
    <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>Jose4</mat-card-title>
          <mat-card-subtitle>         Acteur Helene et Les Garcons</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="https://media.ouest-france.fr/v1/pictures/MjAyMDA5YmI3YWVlNzU1MjBkYWMzZDNhNDNmNzlkN2U3MTcxMjM?width=1260&height=708&focuspoint=50%2C25&cropresize=1&client_id=bpeditorial&sign=0f4a1a29073e5ff744dbf94ccec121c97cc1071a7e2157854edfe254c1790219" alt="jose1">
        <mat-card-content>
          <p>
            Acteur Hélène et Les Garcons
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button>LIKE</button>
          <button mat-button>SHARE</button>
        </mat-card-actions>
      </mat-card>
    
</div>

